/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: #FBF5F5;
}

/* Seção do menu e áreas */
header {
    background-color: #031930;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
}

header nav {
    margin: 0 auto;
}

.box-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-menu li {
    list-style: none;
    padding: 5px;
    margin-right: 40px;
}

.box-menu li a {
    text-decoration: none;
    color: #FFFFFF;
}

.box-menu li:hover {
    border-bottom: 2px solid #78AEAD;
}

.areas-cursos {
    background-color: #0C64D7;
}

.areas-cursos ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 13px;
}

.areas-cursos ul li {
    list-style: none;
    font-weight: bold;
    opacity: 0.6;
}

.areas-cursos ul li:hover {
    opacity: 1;
}

.areas-cursos ul li a {
    color: #031930;
    text-decoration: none;
}

.main-noticia {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-image: url(imgs/main-noticia.jpeg);
    background-position: center;
    margin-bottom: 1px;
}

.envolve-titulo-noticia {
    width: 100%;
    border-radius: 20px;
    padding: 15px;
    text-align: left;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.5);
    margin-top: 200px;
    opacity: 1;
}

.envolve-titulo-noticia h1 {
    border-bottom: 2px solid #78AEAD;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.envolve-titulo-noticia p {
    padding: 5px;
    margin-bottom: 10px;
}

.envolve-titulo-noticia a {
    text-decoration: none;
    color: #FFFFFF;
}

.btn-main {
    background-color: rgba(12, 100, 215, 0.41);
    padding: 10px;
    width: 100px;
    border-radius: 20px;
}

.btn-main:hover {
    background-color: #0C64D7;
}

/* Seção Notícias 1 */
.noticias-1 {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.container-noticias-1 {
    display: flex;
    align-items: center; 
    border-bottom: 2px solid #78AEAD;
    width: 500px;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.container-noticias-1 img {
    width: 260px;
    height: 200px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.box-noticia {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

.box-noticia img {
    border-radius: 20px;
}

.box-noticia h1 { 
    color: rgb(24, 26, 24);
    font-size: 25px;
}

.box-noticia a {
    text-decoration: none;
    color: #000;
    background-color: rgba(12, 100, 215, 0.41);
    padding: 10px;
    border-radius: 12px;
    width: 130px;
    text-align: center;
}

.box-noticia a:hover {
    background-color: rgba(12, 100, 215, 0.8);
}
.login-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Centraliza verticalmente */
    gap: 20px;
    background-color: #B3D6F9; /* Cor de fundo aplicada ao contêiner de login e cadastro */
}

/* Seção Avaliação */
.avaliacoes {
    background-color: #B3D6F9;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.avaliacoes a {
    text-decoration: none;
    color: #000;
}

.aac {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.aac h1 {
    border-bottom: 2px solid #78AEAD;
}

.aac ul li {
    padding: 5px;
}

.aac ul li a:hover {
    color: #FFFFFF;
    opacity: 0.8;
}

.btn-colabore {
    background-color: #132C47;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
}

.btn-colabore:hover {
    text-decoration: underline;
}

.btn-colabore p {
    font-size: 18px;
}

.btn-colabore span {
    font-size: 15px;
}

.simulados {
    background-color: #FBF5F5;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    text-align: center;
}

.datas {
    border-bottom: 2px solid #78AEAD;
    padding: 10px;
    width: 200px;
    margin: 10px auto;
}

.datas p {
    font-weight: bold;
    font-size: 18px;
}

/* Seção Notícias 2 */
.container-noticias2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    background-color: #0C64D7;
}

.container {
    color: aliceblue;
    width: 340px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #031930;
}

.container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

.baixoDireita {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    height: 90px;
    display: flex;
    text-align: center;
    align-items: center;
}

/* Seção do rodapé */
footer {
    background-color: #031930;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    color: #FFFFFF;
}

footer img {
    width: 20px;
    height: 20px;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-footer p {
    font-weight: bold;
    letter-spacing: 1.5px;
}

.box-icones {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-icones a {
    margin-right: 15px;
}

.copyright {
    font-size: 13px;
}
