<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>West News - TI</title>
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/cursos.css">
    <link rel="shortcut icon" href="../imgs/favicon.ico" type="image/x-icon">
    <style>
        .main-image-cursos{
            background-image: url(../imgs/financeiro.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 60vh;
            position: relative;
        }

        .main-image-cursos h2{
            left: 37%;
        }

        .img-not1{
            background-image: url(../imgs/fintech.jpg);
        }

        .img-not2{
            background-image: url(../imgs/criptomoedas.jpg);
        }

        .img-not3{
            background-image: url(../imgs/banking.jpg);
        }

        .img-not4{
            background-image: url(../imgs/selic.jpg);
        }
    </style>
</head>
<body>
    <header>
        <a href="index.html"><img id="home" src="../imgs/logo-azul.png" alt="Logo West News"></a>

        <nav>
            <ul class="box-menu">
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="carreiras.html">Carreiras</a></li>
                <li><a href="https://estudante.estacio.br/aura-repo/marcas/estacio/calendario-academico/aluno/2024.2-AO-VIVO_AO-VIVO_SUDESTE_ALUNO.pdf" target="_blank">Calendário</a></li>
                <li><a href="aac.html">AAC</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-image-cursos">
        <h2>Notícias da Economia</h2>
    </div>

    <section class="noticias-1">
        <div class="container-noticias-1">
            <div class="img-not1"></div>
            <div class="box-noticia">
                <h1>Fintechs no Brasil</h1>
                <p>As fintechs continuam a crescer no Brasil, oferecendo soluções financeiras inovadoras e acessíveis. O aumento do uso de aplicativos de pagamento e serviços bancários digitais tem revolucionado o setor, proporcionando maior inclusão financeira.</p>
                <a href="https://exame.com/" target="_blank">Saber mais ></a>
            </div>
        </div>
        <div class="container-noticias-1">
            <div class="img-not2"></div>
            <div class="box-noticia">
                <h1>Mercado de Criptomoedas</h1>
                <p>O mercado de criptomoedas no Brasil registrou um crescimento significativo, com um aumento no número de investidores e na negociação de ativos digitais. O Bitcoin e outras criptomoedas estão atraindo a atenção tanto de investidores individuais quanto institucionais. </p>
                <a href="https://g1.globo.com/economia/" target="_blank">Saber mais ></a>
            </div>
        </div>
        <div class="container-noticias-1">
            <div class="img-not3"></div>
            <div class="box-noticia">
                <h1>Open Banking</h1>
                <p>A implementação do Open Banking no Brasil está promovendo uma maior transparência e competitividade no setor financeiro. Os consumidores têm mais opções e podem escolher serviços que melhor atendam suas necessidades. </p>
                <a href="https://www.infomoney.com.br/" target="_blank">Saber mais ></a>
            </div>
        </div>

        <div class="container-noticias-1">
            <div class="img-not4"></div>
            <div class="box-noticia">
                <h1>Taxas de Juros e Inflação</h1>
                <p>A Selic, taxa básica de juros do Brasil, continua a ser um tema de discussão entre economistas, com impactos diretos na inflação e nos empréstimos. O Banco Central está monitorando a inflação, que tem mostrado sinais de pressão.</p>
                <a href="https://valor.globo.com/" target="_blank">Saber mais ></a>
            </div>
        </div>  
</section>


    <footer>
        <a href="#home"><img src="../imgs/seta.png" alt="Seta"></a>

        <a href="index.html">
            <div class="logo-footer">
                <img src="../imgs/logo-azul.png" alt="Logo West News">
                <p> West News</p>
            </div>
        </a>

        <nav>
            <ul class="box-menu">
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="carreiras.html">Carreiras</a></li>
                <li><a href="https://estudante.estacio.br/aura-repo/marcas/estacio/calendario-academico/aluno/2024.2-AO-VIVO_AO-VIVO_SUDESTE_ALUNO.pdf" target="_blank">Calendário</a></li>
                <li><a href="aac.html">AAC</a></li>
            </ul>
        </nav>

        <div class="box-icones">
            <a href="https://www.instagram.com/estacio.campogranderj/" target="_blank"><img src="../imgs/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/br.estacio" target="_blank"><img src="../imgs/facebook.png" alt="Facebook"></a>
        </div>

        <p class="copyright"> &copy; Todos os direitos reservados. Copyright 2024</p>
        
    </footer>
</body>
</html>