<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>West News</title>
    <link rel="stylesheet" href="../styles/home.css">
    <style>
        body {
            font-family:sans-serif;
        }
        .conteudo{
            padding: 30px;
        } 
        h1, h3, h4, h5 {
            text-align: center;
        }
        .termo {
            max-width: 800px;
            margin: 0 auto;
            text-align: left;
            line-height: 1.6;
        }
        ol, h5 {
            text-align: left;
        }
        footer .logo-footer, footer nav, .box-icones {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
        footer .box-menu {
            list-style: none;
            padding: 0;
        }
        footer .box-menu li {
            display: inline;
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <header>
        <a href="index.html">
            <img id="home" src="../imgs/logo-azul.png" alt="Logo West News">
        </a>
        <nav>
            <ul class="box-menu">
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="#sugestao">Sugestão</a></li>
                <li><a href="https://estudante.estacio.br/aura-repo/marcas/estacio/calendario-academico/aluno/2024.2-AO-VIVO_AO-VIVO_SUDESTE_ALUNO.pdf" target="_blank">Calendário</a></li>
                <li><a href="https://online.estacio.br/c/cursos-com-mais-horas-complementares?items=8&page=2&utm_term=&utm_campaign=%5BPMax%5D+ecl-conversao&utm_source=google&utm_medium=cpc&hsa_acc=1252974095&hsa_cam=21580762513&hsa_grp=&hsa_ad=&hsa_src=x&hsa_tgt=&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAjwmaO4BhAhEiwA5p4YL0PnbnnpF7_wC8sNv3lsQJclnNpmFc8BPP_mweAi1I2FWzgjdrs_uBoCWCEQAvD_BwE" target="_blank">AAC</a></li>
            </ul>
        </nav>
    </header>

    <div class="conteudo">
        <h1>Termo de Consentimento para Coleta e Uso de Informações Pessoais</h1>
        <br><br>
        <h4>Última atualização: [19/10/24]</h4>
        <div class="termo">
            <h5>Este documento tem como objetivo garantir que você, usuário do nosso sistema de cadastro, esteja ciente de como suas informações pessoais serão coletadas, armazenadas e utilizadas. Ao aceitar este termo, você concorda com os seguintes pontos:</h5>
            <h3>1. Informações Coletadas</h3>
            <h4>Ao se cadastrar no sistema, serão solicitados os seguintes dados pessoais:</h4>
            <ul>
                <li>Nome completo</li>
                <li>Campus estudantil</li>
                <li>E-mail</li>
                <li>Senha</li>
                <li>Data de nascimento</li>
                <li>Matrícula</li>
                <li>Curso</li>
            </ul>
            <h3>2. Finalidade do Tratamento dos Dados</h3>
            <h4>As informações fornecidas serão utilizadas com as seguintes finalidades:</h4>
            <ul>
                <li>Nome completo: Para identificação do usuário e personalização de comunicação.</li>
                <li>Campus que estuda: Para organização e direcionamento de informações e serviços específicos do campus.</li>
                <li>E-mail: Para comunicação e envio de notificações relacionadas ao sistema, além de recuperação de senha.</li>
                <li>Senha: Para garantir a segurança e o acesso privado à sua conta.</li>
                <li>Data de nascimento: Para verificação de idade e conformidade com políticas de uso.</li>
                <li>Matrícula: Para garantir a autenticidade e integração dos dados no sistema de controle acadêmico.</li>
                <li>Curso: Para identificação e fornecimento de informações e serviços específicos à sua área de estudo.</li>
            </ul>
            <h3>3. Armazenamento e Segurança dos Dados</h3>
            <p>As informações serão armazenadas de maneira segura em nossos servidores e só poderão ser acessadas por pessoal autorizado, conforme as boas práticas de segurança da informação e de acordo com as leis de proteção de dados aplicáveis, como a Lei Geral de Proteção de Dados (LGPD) (Lei n.º 13.709/2018).</p>
            <h3>4. Compartilhamento de Dados</h3>
            <p>Os dados pessoais fornecidos não serão compartilhados com terceiros sem o seu consentimento expresso, exceto quando exigido por lei ou regulamento, ou conforme necessário para a execução de serviços contratados relacionados ao seu cadastro (como integração com sistemas acadêmicos).</p>
            <h3>5. Direitos do Usuário</h3>
            <ul>
                <li>Acessar os seus dados armazenados.</li>
                <li>Corrigir informações imprecisas ou desatualizadas.</li>
                <li>Excluir seus dados do sistema, salvo em casos em que a retenção das informações for exigida por lei ou para o cumprimento de obrigações institucionais.</li>
                <li>Revogar o consentimento a qualquer momento, sem prejuízo da licitude do tratamento realizado antes da revogação.</li>
            </ul>
            <p>Para exercer seus direitos ou em caso de dúvidas sobre o uso de suas informações, entre em contato conosco através do e-mail: [seuemail@instituicao.com].</p>
            <h3>6. Período de Retenção dos Dados</h3>
            <p>Os dados fornecidos serão mantidos enquanto você estiver registrado em nosso sistema e/ou durante o tempo necessário para cumprir as finalidades descritas neste termo, ou conforme exigido por lei.</p>
            <h3>7. Alterações neste Termo</h3>
            <p>Este termo poderá ser atualizado periodicamente para refletir alterações em nossas práticas de tratamento de dados. Caso haja mudanças significativas, você será notificado por meio do e-mail cadastrado no sistema.</p>
            <p>Ao continuar com o cadastro, você declara que leu, compreendeu e concorda com os termos descritos acima.</p>
        </div>
    </div>

    <footer>
        <a href="#home"><img src="../imgs/seta.png" alt="Seta"></a>

        <div class="logo-footer">
            <img src="../imgs/logo-azul.png" alt="Logo West News">
            <p> West News</p>
        </div>

        <nav>
            <ul class="box-menu">
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="#sugestao"></a></li>
                <li><a href="https://estudante.estacio.br/aura-repo/marcas/estacio/calendario-academico/aluno/2024.2-AO-VIVO_AO-VIVO_SUDESTE_ALUNO.pdf" target="_blank">Calendário</a></li>
                <li><a href="https://online.estacio.br/c/cursos-com-mais-horas-complementares?items=8&page=2&utm_term=&utm_campaign=%5BPMax%5D+ecl-conversao&utm_source=google&utm_medium=cpc&hsa_acc=1252974095&hsa_cam=21580762513&hsa_grp=&hsa_ad=&hsa_src=x&hsa_tgt=&hsa_kw=&hsa_mt=&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=CjwKCAjwmaO4BhAhEiwA5p4YL0PnbnnpF7_wC8sNv3lsQJclnNpmFc8BPP_mweAi1I2FWzgjdrs_uBoCWCEQAvD_BwE" target="_blank">AAC</a></li>
            </ul>
        </nav>
    
        <div class="box-icones">
            <a href="https://www.instagram.com/estacio.campogranderj/" target="_blank"><img src="../imgs/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/br.estacio" target="_blank"><img src="../imgs/facebook.png" alt="Facebook"></a>
        </div>
    
        <p class="copyright"> &copy; Todos os direitos reservados. Copyright 2024</p>
        
    </footer>

    <script>
    function mostrarCadastro() {
        var form = document.getElementById("cadastroForm");
        form.style.display = form.style.display === "none" ? "block" : "none";
    }
    </script>
</body>
</html>